.mapContainer {
  width: 67%;
  margin-left: 33%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .mapContainer {
    margin-left: 0;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}